.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.App-header {
  background-color: white;
  margin: 0;
  color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 5;
  -webkit-box-shadow: 0 1px 2px 1px #d3d3d3;
     -moz-box-shadow: 0 1px 2px 1px #d3d3d3;
          box-shadow: 0 1px 2px 1px #d3d3d3;
}

.App-header img{
  position: absolute;
  top: 18px;
  left: 24px;
  display: none;
}

.searchBar{
  position: relative;
}

input[type=text]{
  width: 90%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 15px;
  padding: 8px 15px;
}

button{
  background:url(./imgs/cancel.png) no-repeat;
  cursor:pointer;
  border:none;
  width:16px;
  height:16px;
  position: absolute;
  right: 10%;
  top: 18px;
  display: none;
}

.App-bottomNav{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
}

.App-bottomNav ul{
  list-style: none;
  display: inline-block;
  width: 90%;
  padding: 0;
}

.App-bottomNav ul li{
  width: 33.33%;
  float: left;
  text-align: center;
}

.App-bottomNav img{
  width: 28px;
  height: 28px;
}

.main-container{
  position: relative;
  top: 110px;
  margin-bottom: 80px;
}

.main-container img{
  width: 320px;
  height: 320px;
}

.suggestions{
  background-color: white;
  z-index: 4;
  position: fixed;
  opacity: 0.95;
  height: 100%;
  width: 100%;
}

.hide {
  transform: translateY(-100%);
  transition: .5s ease-in-out;
  overflow: hidden;
}
.show {
  transform: translateY(0);
  transition: .5s ease-in;
  overflow: hidden;
}

ul{
  list-style-type: none;
}

.search-results li{
  background-color: #000;
  color: white;
  display: inline;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  box-sizing: border-box; 
  border-radius: 5px;
  float: left;
}

.selected-item{
  background-color: white;
  top: 80px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  display: none;
}

.selected-item img{
  width: 320px;
  height: 320px;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}








